::ng-deep nb-layout-column {
  height: 80vw;
}

.dialpad-header {
  text-align: center;
}

.dialpad {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
}

.dialbutton {
  width: 60px;
  height: 60px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}
