<nb-card>
    <nb-card-header>
      Payment List
      <input style="float:right" class="form-control cc" type="text" #filter placeholder="Filter Payments">
    </nb-card-header>
  
    <nb-card-body>
        <button type="button" mat-raised-button color="primary" style="font-size:15px" [routerLink]="['/pages/payment/payment/new']"><i class="fa fa-plus"></i> Add Payment</button>
        <br>
        <br>
      <div class="row mb-3" *ngIf="isAdmin">
        <div class="col-auto">
          <nb-select [(selected)]="selectedTenant" (selectedChange)="getPaymentlist()" style="min-width:180px">
            <nb-option [value]="0">All Tenants</nb-option>
            <nb-option *ngFor="let t of tenants" [value]="t.tenant_id">{{t.company}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="aPayment" matSort>
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let payment">
              {{payment.payment_id}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="UserName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Paid by</mat-header-cell>
            <mat-cell *matCellDef="let payment" style="text-align:left">
              {{payment.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="PaidAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
            <mat-cell *matCellDef="let payment" style="text-align:left">
              {{payment.paid_amount}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="PaidDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date Paid on</mat-header-cell>
            <mat-cell *matCellDef="let payment">
              {{payment.paid_date}}</mat-cell>
          </ng-container>
          <!--
          <ng-container cdkColumnDef="Operations">
              <mat-header-cell *matHeaderCellDef>Operations</mat-header-cell>
              <mat-cell *matCellDef="let payment">
              <button mat-icon-button color="primary" style= "font-size:20px">
                <mat-icon><a routerLink="/pages/payment/payment/{{payment.payment_id}}" title="Edit"><nb-icon icon="edit-2-outline"></nb-icon></a></mat-icon>
              </button>
              <button mat-icon-button color="primary" style= "font-size:20px">
                <mat-icon style="color: red" (click)="showStaticModal(payment.name, payment.payment_id)" ><nb-icon icon="trash-2-outline" title="Delete"></nb-icon></mat-icon>                
              </button>
              </mat-cell>
              </ng-container>
              -->
        <mat-header-row
          *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row;columns:displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
    [length] = "length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  </div>
</nb-card-body>
</nb-card>